.typing-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}

.timer-container{
    margin: 16px;

}

.timer{
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: red;
}

.timer-info{
    margin: 0;
    margin-top: -5x;
    font-size: 20px;
    text-align: center;

}

.textarea-container{
   margin: 16px;
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   width: 80%;
}

.textarea-left,
.textarea-right{
    display: flex;
    width: 50%;
    flex-grow: 1;
}

.textarea{
text-align: left;
flex-grow: 1;
height: 400px;
width: 100%;
padding: 10px;
line-height: 18px;
flex-wrap: wrap;
box-shadow: 0 1px 3px rgba(75, 75, 75, 0.12),0 1px 3px rgba(75, 75, 75, 0.26);
transition: all 0.2s;
overflow: scroll;
}



.textarea:hover{
    box-shadow: 0 28px 58px rgba(75, 75, 75, 0.12),0 20px 40px rgba(75, 75, 75, 0.26);
}

.text-paragraph{
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    background: rgb(221, 152, 152);
    padding: 12px;
    
    
}

@media (max-width:800){
    .text-paragraph{
        line-height: normal;
        font-size: 10px;
    }

}